<html>
    <body>
        <a routerLink="/"><h1>Cyclicity</h1></a>
        <ng-container *ngIf="usa">
            <iframe src="assets/SPX/spx1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>United States Stock Market (SPX)</h3>
            <iframe src="assets/SPX/spx2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/a3b04a559661400583f5c74bd2d77cf4" target="_blank">Low Memory Alternative</a>
            </h4>              
          </ng-container>
        <ng-container *ngIf="uk">
            <iframe src="assets/UKX/ukx1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>United Kingdom Stock Market (UKX)</h3>
            <iframe src="assets/UKX/ukx2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/0712682b304c4e669ff8a7803a2bb0ef" target="_blank">Low Memory Alternative</a>
            </h4>     
          </ng-container>
        <ng-container *ngIf="shc">
            <iframe src="assets/SHC/shc1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>China Stock Market (SSE)</h3>
            <iframe src="assets/SHC/shc2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/76933e48193e48e088142d76f92d6722" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="dax">
            <iframe src="assets/DAX/dax1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Germany Stock Market (DAX)</h3>
            <iframe src="assets/DAX/dax2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/65ba629c644c4fd28840c2573e85d2d7" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="moex">
            <iframe src="assets/MOEX/moex1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Russia Stock Market (MOEX)</h3>
            <iframe src="assets/MOEX/moex2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/14cd9eb28d6e491194ca508ceef458e2" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="nkx">
            <iframe src="assets/NKX/nkx1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Japan Stock Market (NKX)</h3>
            <iframe src="assets/NKX/nkx2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/35f332a2a6744b1d986f4b3008e82c49" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        
        <ng-container *ngIf="aapl">
            <iframe src="assets/AAPL/aapl1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Apple Price Chart (AAPL)</h3>
            <iframe src="assets/AAPL/aapl2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/f80b283ffae143e882e73b0ed851bf65" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="amd">
            <iframe src="assets/AMD/amd1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>AMD Price Chart (AMD)</h3>
            <iframe src="assets/AMD/amd2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/8316835b1ed140a2a410083699eaf77e" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="amzn">
            <iframe src="assets/AMZN/amzn1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Amazon Price Chart (AMZN)</h3>
            <iframe src="assets/AMZN/amzn2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/8f8e9b04f5224ddeb7c3eb9b0a5553ce" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="googl">
            <iframe src="assets/GOOGL/googl1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Google Price Chart (GOOGL)</h3>
            <iframe src="assets/GOOGL/googl2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/4d033ba9180f40209dfc115ff83e3ef7" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="meta">
            <iframe src="assets/META/meta1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Meta Price Chart (META)</h3>
            <iframe src="assets/META/meta2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/2a4728f42ecf4b2283708c929cb3ff9e" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="msft">
            <iframe src="assets/MSFT/msft1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Microsoft Price Chart (MSFT)</h3>
            <iframe src="assets/MSFT/msft2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/c6dbb1d25ea84142981589591bd32b70" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="nflx">
            <iframe src="assets/NFLX/nflx1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Netflix Price Chart (NFLX)</h3>
            <iframe src="assets/NFLX/nflx2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/825a5e3d94ab41edb7e6dd504a715e7f" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="nvda">
            <iframe src="assets/NVDA/nvda1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Nvidia Price Chart (NVDA)</h3>
            <iframe src="assets/NVDA/nvda2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/7a6a1911f1854d249c9ff92825633ca9" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="tsla">
            <iframe src="assets/TSLA/tsla1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Tesla Price Chart (TSLA)</h3>
            <iframe src="assets/TSLA/tsla2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/c2ead945637144489bee8887ad65e26d" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="btc">
            <iframe src="assets/BTC/btc1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Bitcoin Price Chart (BTCUSD)</h3>
            <iframe src="assets/BTC/btc2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/5cc9e9438639486483878c815ef4ea66" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <ng-container *ngIf="eth">
            <iframe src="assets/ETH/eth1.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Ethereum Price Chart (ETHUSD)</h3>
            <iframe src="assets/ETH/eth2.html" width="100%" height="400" frameborder="0"></iframe>
            <h4 style="font-family: 'Lato', sans-serif; text-decoration: underline;">
                <a href="https://www.loom.com/share/e66c780f99a64f0e8dca4bf1e065d11c" target="_blank">Low Memory Alternative</a>
            </h4>     
        </ng-container>
        <!--<ng-container *ngIf="assets">
            <iframe src="assets/assets.html" width="100%" height="400" frameborder="0"></iframe>
            <h3>Asset Appreciation Since Inception</h3>
        </ng-container>-->

        </body>        
</html>