<html>
    <body>
        <h1>Cyclicity</h1>
        <p class="description">Cyclicity provides perspectives into long-term market trends as well as the cyclic nature of national stock indexes and assets broadly.</p>
        <h5>Created by Cooper Cairns</h5>
        <h2 class="subheader">National Indexes</h2>
        <div class="button-container">
            <button [routerLink]="['chart/1']">USA</button>
            <button [routerLink]="['chart/3']">China</button>
            <button [routerLink]="['chart/4']">Japan</button>
            <button [routerLink]="['chart/5']">Germany</button>
            <button [routerLink]="['chart/2']">UK</button>
            <button [routerLink]="['chart/6']">Russia</button>
        </div>
        <h2 class="subheader">Popular Assets</h2>
        <div class="button-container">
            <button [routerLink]="['chart/7']">Amazon</button>
            <button [routerLink]="['chart/8']">AMD</button>
            <button [routerLink]="['chart/9']">Apple</button>
            <button [routerLink]="['chart/10']">Google</button>
            <button [routerLink]="['chart/11']">Meta</button>
            <button [routerLink]="['chart/12']">Microsoft</button>
            <button [routerLink]="['chart/13']">Netflix</button>
            <button [routerLink]="['chart/14']">Nvidia</button>
            <button [routerLink]="['chart/15']">Tesla</button>
            <button [routerLink]="['chart/16']">Bitcoin</button>
            <button [routerLink]="['chart/17']">Ethereum</button>
        </div>
    </body>
</html>